{% load staticfiles %}
<html>

<head>
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" 
 rel="stylesheet" type='text/css' media="screen">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<a class='navbar-brand' href="#"><b>MyTweets</b></a>

<p class='navbar-brand navbar-right'>User Profile Page</p>

{% block navbar %}

{% endblock %}

</nav>

<div class="container">

<h1> Hello Django      </h1>



{% block content %}

{% endblock %}

</div>

<nav class='navbar navbar-inverse navbar-fixed-bottom' role='navigation'>
<p class='navbar-brand navbar-right'>Footer</p>
</nav>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
{% block js %}
{% endblock %}

 </body>
</html>